canvas-draw {

  height: 100%;
  width: 100%;
  display: block;

  #top-toolbar{
    position: absolute;
    top: 120px;
  }

  #bottom-toolbar {
    position: absolute;
    bottom: 65px;
  }
  #back-button {
    position: absolute;
    bottom: 0;
  }

}

.card{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 2px solid #795548;
}
.cardHeader{
    background: #795548;
    color: #fff;
}
.image{
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

